body, html {
  margin:0;
  height:100%; background: rgb(251,251,251);
              background: linear-gradient(319deg, rgba(251,251,251,1) 0%, rgba(237,255,236,1) 22%, rgba(250,255,252,1) 100%, rgba(22,20,20,0.31246495180103295) 100%);
  background-size: 100% 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contain {
  display:block;
  width:100%; height:100%;
  object-fit: contain;
}

.stretch {
  display:block;
  width:100%; height:100%;
}

.cover {
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  body {
    margin:0;
    height:100%;
    background: rgb(0,0,0);
    background: linear-gradient(128deg, rgba(0,0,0,1) 0%, rgba(8,26,37,1) 22%, rgba(0,27,54,1) 100%, rgba(22,20,20,0.31246495180103295) 100%);
    background-size: 100% 100%;
  }
}
